@import "compass/css3";

$proxima            : "proxima-nova";
$proxima-cond       : "proxima-nova-condensed";
$proxima-extra-cond : "proxima-nova-extra-condensed";

$white              : hsla(0, 100%, 100%, 1);
$yellow             : hsla(42, 87%, 58%, 1);
$black              : hsla(80, 3%, 18%, 1);
$red                : hsla(10, 54%, 49%, 1);
$green              : hsla(88, 45%, 63%, 1);

$fade               : lighten($black, 50%);

// =animations

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@mixin spin {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.hidden { display: none; }

// =base

html, body { margin: 0; padding: 0; }

body {
  font: normal normal 100%/1.5 arial, sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

h1, h2 { font-weight: normal; }

h1 {
  font-size: 1em;
  margin: 0 0 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

a, a:link {
  text-decoration: underline;
  color: $black
}

a:active, a:hover {
  text-decoration: none;
  background-color: $black;
  color: $white;
}

*[data-icon] {
  font-family: Pictos;
  display: inline-block;
}

*[data-icon]:before { content: attr(data-icon); }

a[data-icon]:hover { background-color: transparent; }

a[data-icon] { text-decoration: none; }

a span[data-icon] { margin-right: 0.35em; }

p { margin: 1.5em 0; }

abbr.created {
  color: $fade;
  border: none;
}

small {
  font-size: 0.8125em;
  line-height: 1.846;
}

p#what {
  font-size: 1.5em;
  font-style: italic;
  line-height: 2;
  margin: 2em 0;
}

div#links {
  list-style: none;
  margin: 1.5em 0 1.5em 0;
  padding: 0;
}

.link {
  display: block;
  overflow: hidden;
  padding: 0.6875em 0 0.75em 0;
  border-bottom: 1px solid $fade;

  &:last-child {
    padding-bottom: 0.75em;
    border: none;
  }

  &.selected {
    background-color: lighten($fade, 30%);
  }
}

.link article {
  position: relative;
  padding: 0 3px;

  h1 {
    a {
      display: block;
      margin: 0 2em 0 0;
      padding: 0 0.1875em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  footer {
    padding: 0 0.1875em;

    abbr.created {
      font-size: 0.8125em;
      line-height: 1.846;
    }
  }
}

.star {
  position: absolute;
  top: 0;
  right: 3px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 0.85;
  height: 0.85em;
  text-align: center;
  color: $white;
  -webkit-text-stroke: 1px lighten($fade, 20%);
}

.star.waiting, .star.true.waiting {
  @include spin;
  color: lighten($fade, 25%);
  -webkit-text-stroke: 1px lighten($fade, 20%);
}

.star.waiting:before { content: '1'; }

.star:active { color: lighten($fade, 25%); }

.star.true {
  color: $yellow;
  -webkit-text-stroke: 1px darken($yellow, 15%);
}

.star.true:active { color: darken($yellow, 15%); }

// =layout

#screen {
  margin: 0 auto;
  max-width: 38.75em;
  position: relative;
}

header {
  overflow: hidden;
  line-height: 2em;
  padding: 1em 3px 0 3px;
  margin: 0 0 1.5em 0;
}

footer[role=contentinfo] {
  border-top: 1px solid $fade;
  margin: 2.9375em 0 0 0;
  padding: 0 3px;
}

// =profile

header[role=banner] {
  h1 {
    float: left;
    font-weight: bold;

    a, a:link {
      display: block;
      text-decoration: none;
    }
  }
}

#profile {
  float: right;

  a {
    float: left;
    font-size: 0.875em;
    line-height: 2.286;
  }

  .avatar {
    float: right;
    width: 1.875em;
    margin: 0 0 0 1em;
    text-align: center;
    border: 1px solid lighten($fade, 10%);
    @include border-radius(3px);

    img {
      display: block;
      max-width: 100%;
    }

    span {
      display: block;
      color: $fade;
      background-color: lighten($fade, 30%);
    }
  }
}

// =status

#status {
  position: absolute;
  top: -2.5625em; // 41px (height + shadow)
  left: 18.375em;
  width: 1.875em;
  height: 1.9375em;
  line-height: 1.9375;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: lighten($fade, 10%);
  background-color: $white;
  text-align: center;
  @include box-shadow($fade 0px 2px 10px);
  @include border-bottom-radius(3px);
  @include transition(top 0.35s ease-in-out);
  span { display: block; }
}

#status.open { top: 0; }
#status.open span { @include spin; }

// =home
a#home {
  float: left;
  width: 1.875em;
  margin: 0 2em 0 0;
  line-height: 1.875;
  text-align: center;
  background-color: lighten($fade, 30%);
  border: 1px solid lighten($fade, 20%);
  @include border-radius(3px);
}

a#home:hover {
  color: $white;
  background-color: lighten($fade, 20%);
}

a#home:active {
  border-color: $fade;
  background-color: $fade;
}

// =add
a#add-link {
  float: left;
  width: 1.875em;
  margin: 0 2em 0 0;
  line-height: 1.875;
  text-align: center;
  background-color: lighten($fade, 30%);
  border: 1px solid lighten($fade, 20%);
  @include border-radius(3px);
}

a#add-link:hover {
  color: $white;
  background-color: lighten($fade, 20%);
}

a#add-link:active {
  border-color: $fade;
  background-color: $fade;
}

// =filter
// custom checkboxes
// http://www.wufoo.com/2011/06/13/custom-radio-buttons-and-checkboxes/

#star-filter {
  float: left;
  margin: 0 2em 0 0;
}

#star-filter:not(#foo) > input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 0;
}

#star-filter:not(#foo) > input[type='checkbox'] + label {
  float: left;
  width: 1.875em;
  line-height: 1.875em;
  background-color: lighten($fade, 30%);
  border: 1px solid lighten($fade, 20%);
  @include border-radius(3px);
  text-align: center;
  cursor: pointer;
}

#star-filter:not(#foo) > input[type='checkbox']:checked + label {
  color: $yellow;
  background-color: lighten($yellow, 38%);
  border-color: darken($yellow, 15%);
  -webkit-text-stroke: 1px darken($yellow, 15%);
}

#star-filter:not(#foo) > input[type='checkbox'] + label:before {
  margin: 0;
  clear: none;
}

// =pagination

#pagination {
  float: right;
  clear: both;
  margin: 2.5em 0 0 0;
}

#pagination.empty { visibility: hidden; }

#pagination .range {
  float: right;
  font-size: 0.8125em;
  line-height: 2.462;
  margin: 0 0.615em 0 0;
}

#pagination ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    width: 2em;
    float: left;

    span {
      display: block;
      line-height: 1.875;
      padding: 0 0.5em;
      border-style: solid;
    }

    .true {
      color: lighten($fade, 10%);
      background-color: lighten($fade, 30%);
      border-color: lighten($fade, 20%);
      cursor: pointer;
    }

    .false {
      color: lighten($fade, 25%);
      background-color: lighten($fade, 30%);
      border-color: lighten($fade, 25%);
    }

    .prev {
      border-width: 1px 0 1px 1px;
      @include border-left-radius(3px);
    }

    .next {
      border-width: 1px 1px 1px 1px;
      @include border-right-radius(3px);
    }

    .true:hover {
      color: $white;
      background-color: lighten($fade, 20%);
    }

    .true:active {
      border-color: $fade;
      background-color: $fade;
    }
  }
}

// =search

#search {
  float: right;
  margin: 0 0 0 2em;

  label, input { float: left; }

  label { margin: 0 0.25em 0 0; }

  input {
    display: inline-block;
    width: 17em;
    margin: 0 0 0 0;
  }
}

// =new link

#dialog {
  position: absolute;
  top: -23.6875em; // 379px (height + shadow)
  left: 8.75em;
  width: 338px;
  min-height: 369px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: lighten($fade, 10%);
  @include box-shadow($fade 0px 2px 10px);
  @include border-bottom-radius(3px);
  @include transition(top 0.35s ease-in-out);
}

#dialog.open { top: 0; }

#new-link {
  background-color: $white;
  @include border-bottom-radius(3px);

  div { padding: 0 1.25em 1.5em; }

  h2 {
    font-size: 1em;
    margin: 0 0 1.4375em 0;
    padding: 1.5em 1.25em;
    background-color: lighten($fade, 30%);
    text-align: center;
    border-bottom: 1px solid $fade;
  }

  h2 .title { display: none; }

  span[data-icon] {
    display: block;
    font-size: 3em;
    line-height: 1;
  }

  span[data-icon]:before {
    color: lighten($fade, 10%);
    -webkit-text-stroke: 1px $fade;
  }

}

// =forms

label, input, textarea { display: block; }

input, textarea {
  outline: none;
  border: 1px solid lighten($fade, 20%);
  font-size: 0.875em;
  line-height: 1.143;
  margin: 0 0 1.143em 0;
  padding: 0.5em 0;
  width: 298px;
  @include border-radius(3px);
  &:focus { border-color: $fade; }
}

textarea {
  resize: vertical;
  overflow: auto;
}

input.error, textarea.error {
  border-color: $red;
}

label.error {
  color: $white;
  background-color: $red;
  font-size: 0.75em;
  line-height: 2;
  padding: 0 0.25em;
  margin-bottom: 2em;
}

.actions {
  text-align: center;
  margin: 1.5em 0 0 0;
}

button {
  display: inline-block;
  font-size: 1em;
  line-height: 1.875em;
  background-color: lighten($fade, 30%);
  border: 1px solid lighten($fade, 20%);
  @include border-radius(3px);
  width: 2em;
  padding: 0;
}

button:hover {
  color: $white;
  background-color: lighten($fade, 20%);
}

button:active {
  border-color: $fade;
  background-color: $fade;
}

button + button { margin-left: 1.25em; }

button[type=submit] {
  background-color: $green;
  border-color: darken($green, 7%);
}

button[type=submit]:hover { background-color: darken($green, 10%); }
