<div>
  <header>
    <a id="home" href="#" data-icon="H" title="Go to the index"></a>
    <a id="add-link" href="#" data-icon="&" title="Contribute a link"></a>

    <div id="star-filter">
      <input type="checkbox" id="star-filter-input" name="star-filter" />
      <label for="star-filter-input" data-icon="S" title="Show only starred links"></label>
    </div>

    <form id="search">
      <label for="q" data-icon="s" title="Search"></label>
      <input type="search" id="q" name="q" />
    </form>
  </header>

  <div id="links" />

  <div id="pagination" />

  <div id="dialog">
    <form id="new-link" action="#">
      <h2 >
        <span data-icon="+"></span>
        <span class="title">Add a link</span>
      </h2>
      <div>
        <label for="url">URL</label>
        <input type="url" id="url" name="url" />
        <label for="note">Note</label>
        <textarea id="note" name="note" rows="4" />
        <div class="actions">
          <button type="sumbit" data-icon="2" title="Save"></button>
          <button class="close" data-icon="D" title="Cancel"></button>
        </div>
      </div>
    </form>
  </div>

  <div id="status">
    <!-- <span data-icon="1" title="loading..."></span> -->
  </div>
</div>